{% extends 'header.html' %}
{% load static %}
{% block 'content' %}
<div class="container ">
    <h1 class="text-center p-4 bg-primary">Create your Task Hare</h1>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="" class="border p-4" method="post">
            <h3 class="text-center"> Create </h3>
            <div class="form-group">
                Name :
                <input type="text"  class="form-control">
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>


{% endblock %}